<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated flowcharts -->
      <package
            uri="http://eclipse.org/epsilon/incrementalEVL/flowcharts/1.0"
            class="flowcharts.FlowchartsPackage"
            genModel="model/flowcharts.genmodel"/>
   </extension>

</plugin>
